extends layout 

block content 
  h1= title
  p #[strong Description:] #{data.category.description}
  div.subsection
    h2 Products: 
    p There are #[strong #{data.products.length}] products in this record.
    each product in data.products
      hr
      a(href=product.url) #{product.name}
      |  (#{product.manufacturer.name})
  hr
  p
    a(href=data.category.url+'/update') Edit Category
  p
    a(href=data.category.url+'/delete') Delete Category