extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') Category Name:
      input#name.form-control(
        type='text', 
        placeholder='Smartphone, Tablet, etc.' 
        name='name' 
        value=((category === undefined) ? '' : category.name))
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(
        cols='30', 
        rows='6',
        placeholder='Description of category',
        name='description')
        | #{(category === undefined) ? '' : category.description}
    button.btn.btn-primary(type='submit') Submit
  if errors
   ul
    for error in errors
      li!= error.msg