extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') Manufacturer Name:
      input#name.form-control(
        type='text', 
        placeholder='Apple, Dell, etc.' 
        name='name' 
        value=((manufacturer === undefined) ? '' : manufacturer.name))
    button.btn.btn-primary(type='submit') Submit
  if errors
   ul
    for error in errors
      li!= error.msg