extends layout

block content
  h1 #{title}: #{manufacturer.name}

  if manufacturer_products.length
    p #[strong Delete the following products before attempting to delete this manufacturer.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Products
      dl
      each product in manufacturer_products
        dt
          a(href=product.url) #{product.name}
          |  (Stock: #{product.stock})
  else
    p Do you really want to delete this manufacturer?
    form(method='POST' action='')
      div.form-group
        input#manufacturerid.form-control(
          type='hidden',
          name='manufacturerid', 
          required='true', 
          value=manufacturer._id 
        )
      button.btn.btn-primary(type='submit') Delete