extends layout 

block content 
  h1= title
  div.subsection
    h2 Products: 
    p There are #[strong #{data.products.length}] products in this record.
    each product in data.products
      hr
      a(href=product.url) #{product.name}
      |  (#{product.category.name})
  hr
  p
    a(href='#') Edit Manufacturer
  p
    a(href='#') Delete Manufacturer