extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') Product Name:
      input#name.form-control(
        type='text', 
        placeholder='Name of product',
        name='name',
        value=((product === undefined) ? '' : product.name))
    div.form-group
      label(for='manufacturer') Manufacturer:
      select#manufacturer.form-control(
        type='select',
        placeholder='Select a manufacturer',
        name='manufacturer',
        required='true'
      )
        - manufacturers.sort(function(a, b) {
            var textA = a.name.toUpperCase();
            var textB = b.name.toUpperCase();
            return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
        - })
        for manufacturer in manufacturers
          if product
            option(
              value=manufacturer._id
              selected=(manufacturer._id.toString()===product.manufacturer._id.toString() ? 'selected': false)
            ) #{manufacturer.name}
          else 
            option(value=manufacturer._id) #{manufacturer.name}
    div.form-group
      label(for='category') Category:
      select#category.form-control(
        type='select',
        placeholder='Select a category',
        name='category',
        required='true'
      )
        - categories.sort(function(a, b) {
            var textA = a.name.toUpperCase();
            var textB = b.name.toUpperCase();
            return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
        - })
        for category in categories
          if product
            option(
              value=category._id
              selected=(category._id.toString()===product.category._id.toString() ? 'selected': false)
            ) #{category.name}
          else 
            option(value=category._id) #{category.name}
    div.form-group
      label(for='price') Price:
      input#price.form-control(
        min='0',
        step='0.01',
        type='number', 
        placeholder='9999.99',
        name='price',
        value=((product === undefined) ? '' : product.price))
    div.form-group
      label(for='stock') Stock:
      input#stock.form-control(
        min='0',
        step='1',
        type='number',
        placeholder='9999',
        name='stock',
        value=((product === undefined) ? '' : product.stock))
    div.form-group
      label Description:
      ul
        - for (var i = 0; i < 10; i++) {
          li(class='product-description-input')
            input.form-control(
              id='description-' + i,
              type='text', 
              placeholder='Description(' + (i+1) + ') of product',
              name='description_' + i,
              value=((product === undefined) ? '' : product.description[i]))
        - }
    button.btn.btn-primary(type='submit') Submit
  if errors
   ul
    for error in errors
      li!= error.msg