extends layout

block content
  h1= title
  ul
    each product in product_list
      li
        a(href=product.url) #{product.name}
        |  (#{product.manufacturer.name}) - 
        if product.stock < 50
          span.text-danger Stock: #{product.stock}
        else if product.stock < 100
          span.text-warning Stock: #{product.stock}
        else 
          span.text-success Stock: #{product.stock}
    else
      li There are no products.